{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["react"],
  "rules": {
    "semi": ["error","never"],
    "camelcase": 0,
    "prefer-const": 2,
    "space-before-function-paren": [2],
    "jsx-quotes": [2, "prefer-double"],
    "no-return-assign": 0,
    "react/prop-types": 0,
    "react/jsx-no-bind": 0
  }
}
